<!-- Modal cập nhật phòng -->
<div class="modal fade" id="updatePhongModal" tabindex="-1" aria-labelledby="updatePhongModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="updatePhongForm" method="post" asp-action="SuaPhong" asp-controller="Home">
            <!-- Sửa action phù hợp với route của bạn -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updatePhongModalLabel">Thêm Mới Phòng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="MaPhong" id="MaPhong"/>
                    <div class="row">
                        <div class="col-8">
                            <label for="TenPhong" class="form-label">Tên Phòng</label>
                            <input type="text" class="form-control" name="TenPhong" id="updateTenPhong" placeholder="Tên không được trùng" required />
                        </div>
                        <div class="col-4">
                            <label for="SucChua" class="form-label">Sức Chứa</label>
                            <input type="number" class="form-control" name="SucChua" id="updateSucChua" placeholder="Số lượng" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const editPhongModal = document.getElementById('updatePhongModal');
    editPhongModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;

        const maPhong = button.getAttribute('data-maphong');
        const tenPhong = button.getAttribute('data-tenphong');
        const sucChua = button.getAttribute('data-soluong');

        document.getElementById('MaPhong').value = maPhong;
        document.getElementById('updateTenPhong').value = tenPhong;
        document.getElementById('updateSucChua').value = sucChua;
    });
</script>
