<!-- Modal bộ lọc -->
<div class="modal fade" id="filterModalCanBo" tabindex="-1" aria-labelledby="filterModalCanBoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalCanBoLabel">Bộ lọc cán bộ - giảng viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <form method="get" asp-action="TimKiem" asp-controller="CanBo">
                <div class="modal-body">
                    <input type="hidden" name="TuKhoa" value="@Context.Request.Query["TuKhoa"].ToString()" />
                    <div class="mb-3">
                        <label for="chooseCV" class="form-label">Chức vụ</label>
                        <select id="chooseCV" class="form-select" name="maChucVu">
                            <option selected disabled>Chọn chức vụ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="chooseHV" class="form-label">Học vị</label>
                        <select id="chooseHV" class="form-select" name="maHocVi">
                            <option selected disabled>Chọn học vị</option>
                        </select>
                    </div>
                    <div class="mb-3" id="selectWrapperFilter">
                        <label for="chooseKhoa" class="form-label">Khoa</label>
                        <select id="chooseKhoa" class="form-select" name="maKhoa">
                            <option selected disabled>Chọn khoa</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <small><strong class="text-danger">*Lưu ý:</strong> Chọn chức vụ "Giảng viên" &rarr; chọn khoa.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Áp dụng</button>
                </div>
            </form>
        </div>
    </div>
</div>
