<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Web này được tạo ra để phục vụ cho đề tài quản lý lớp học phần cho sinh viên UTE" />
    <link rel="icon" type="image/png" href="~/assets/img/logo-truong-250.png">
    <meta name="author" content="Lê Đức Thiện" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/assets/img/logo-truong-250.png">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
    @RenderBody();
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/TogglePassword.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
