<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Brand-->
    <a class="navbar-brand d-flex align-items-center" asp-area="" asp-action="Index" asp-controller="Home" id="navbarBrand">
        <img src="@Url.Content("~/assets/img/logo-truong-250.png")" alt="Logo" style="height: 42px; object-fit: contain;">
        <div class="ps-2" style="font-size: 0.9rem;">
            <div class="text-primary fw-bold">Đại Học Đà Nẵng</div>
            <div class="fw-bold" style="font-size: 0.8rem;">Trường Đại Học Sư Phạm Kỹ Thuật</div>
        </div>
    </a>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!"><i class="fa-solid fa-gear"></i><span class="ps-1">Cài đặt</span></a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!"><i class="fa-solid fa-right-from-bracket"></i><span class="ps-1">Logout</span></a></li>
            </ul>
        </li>
    </ul>
</nav>

<script>
    window.addEventListener('DOMContentLoaded', function() {
    // Lấy các phần tử cần thiết ngay khi DOM đã sẵn sàng
    var sidenav = document.getElementById('sidenavAccordion');
    var navbarBrand = document.getElementById('navbarBrand');
    var sidebarToggle = document.getElementById('sidebarToggle');

    // Kiểm tra xem các phần tử có tồn tại không
    if (sidenav && navbarBrand && sidebarToggle) {
        var sidenavWidth = sidenav.offsetWidth;
        var buttonWidth = sidebarToggle.offsetWidth;
        var marginLeft = sidenavWidth - buttonWidth;

        // Đặt marginLeft cho navbarBrand
        navbarBrand.style.marginLeft = marginLeft + 'px';
    }
});
</script>
